In [1]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /home/przemek/anaconda3/lib/python3.8/site-packages (2.2.2)
Requirement already satisfied: pandas>=0.21.1 in /home/przemek/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.0.5)
Requirement already satisfied: numpy>=1.14.0 in /home/przemek/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.18.5)
Requirement already satisfied: patsy>=0.5.1 in /home/przemek/anaconda3/lib/python3.8/site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scipy>=1.0.0 in /home/przemek/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.5.0)
Requirement already satisfied: statsmodels>=0.9.0 in /home/przemek/anaconda3/lib/python3.8/site-packages (from category_encoders) (0.11.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /home/przemek/anaconda3/lib/python3.8/site-packages (from category_encoders) (0.23.1)
Requirement already satisfied: pytz>=2017.2 in /home/przemek/anaconda3/lib/python3.8/site-packages (from pandas>=0.21.1->category_encoders) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/przemek/anaconda3/lib/python3.8/site-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: six in /home/przemek/anaconda3/lib/python3.8/site-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/przemek/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /home/przemek/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.20.0->category_encoders) (0.16.0)

In [2]:
#Importing 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import category_encoders as ce
import datetime as dt
%matplotlib inline

In [3]:
#Importing data
df = pd.read_csv("Ruter.csv", delimiter=";")
df_copy = df.copy()
df_copy2 = df.copy()

In [4]:
df.head()

,TurId,Dato,Fylke,Område,Kommune,Holdeplass_Fra,Holdeplass_Til,Linjetype,Linjefylke,Linjenavn,Linjeretning,Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra,Tidspunkt_Faktisk_Avgang_Holdeplass_Fra,Tidspunkt_Planlagt_Ankomst_Holdeplass_Fra,Tidspunkt_Planlagt_Avgang_Holdeplass_Fra,Kjøretøy_Kapasitet,Passasjerer_Ombord
0,15006-2020-08-10T10:24:00+02:00,10/08/2020,Viken,Vest,Bærum,Nordliveien,Tjernsmyr,Lokal,Viken,150,0,10:53:53,10:53:59,10:53:00,10:53:00,112,5
1,15002-2020-08-15T12:54:00+02:00,15/08/2020,Viken,Vest,Bærum,Nadderud stadion,Bekkestua bussterminal (Plattform C),Lokal,Viken,150,0,13:12:20,13:12:26,13:12:00,13:12:00,112,5
2,15004-2020-08-03T09:54:00+02:00,03/08/2020,Viken,Vest,Bærum,Ringstabekkveien,Skallum,Lokal,Viken,150,0,10:18:56,10:19:21,10:19:00,10:19:00,112,6
3,15003-2020-07-27T13:00:00+02:00,27/07/2020,Viken,Vest,Bærum,Gruvemyra,Gullhaug,Lokal,Viken,150,1,13:52:04,13:52:26,13:51:00,13:51:00,112,10
4,15002-2020-08-27T07:15:00+02:00,27/08/2020,Viken,Vest,Bærum,Lysaker stasjon (Plattform A),Tjernsmyr,Lokal,Viken,150,1,07:34:13,07:34:53,07:33:00,07:33:00,112,10

In [5]:
#showing description of the data
df.describe()

       Linjeretning  Kjøretøy_Kapasitet  Passasjerer_Ombord
count   6000.000000         6000.000000         6000.000000
mean       0.492000          104.712167            4.512833
std        0.499978           24.225196            6.735730
min        0.000000           33.000000          -39.000000
25%        0.000000           80.000000            0.000000
50%        0.000000          106.000000            3.000000
75%        1.000000          112.000000            7.000000
max        1.000000          151.000000           64.000000

In [6]:
#Check for missing data
def missing(df):
    total = df.isnull().sum().sort_values(ascending=False)
    percent =(df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
    missingdata = pd.concat([total, percent], axis=1, keys=["Total", "Percent"])
    return missingdata

In [7]:
missing(df)

                                           Total  Percent
Passasjerer_Ombord                             0      0.0
Linjetype                                      0      0.0
Dato                                           0      0.0
Fylke                                          0      0.0
Område                                         0      0.0
Kommune                                        0      0.0
Holdeplass_Fra                                 0      0.0
Holdeplass_Til                                 0      0.0
Linjefylke                                     0      0.0
Kjøretøy_Kapasitet                             0      0.0
Linjenavn                                      0      0.0
Linjeretning                                   0      0.0
Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra       0      0.0
Tidspunkt_Faktisk_Avgang_Holdeplass_Fra        0      0.0
Tidspunkt_Planlagt_Ankomst_Holdeplass_Fra      0      0.0
Tidspunkt_Planlagt_Avgang_Holdeplass_Fra       0      0.0
TurId                                          0      0.0

In [8]:
#Checking for types of unique classes

In [9]:
columns_values = df.select_dtypes(include="object").columns
for col in columns_values:
    print("Types of unique classes in {}".format(col))
    print(df[col].unique())
    print("-----------------------")

Types of unique classes in TurId
['15006-2020-08-10T10:24:00+02:00' '15002-2020-08-15T12:54:00+02:00'
 '15004-2020-08-03T09:54:00+02:00' ... '2007-2020-06-11T17:22:00+02:00'
 '10004-2020-08-13T04:59:00+02:00' '34013-2020-08-05T13:31:00+02:00']
-----------------------
Types of unique classes in Dato
['10/08/2020' '15/08/2020' '03/08/2020' '27/07/2020' '27/08/2020'
 '01/08/2020' '28/07/2020' '16/08/2020' '13/08/2020' '23/06/2020'
 '17/08/2020' '26/07/2020' '06/08/2020' '17/07/2020' '08/08/2020'
 '16/06/2020' '16/07/2020' '27/06/2020' '12/06/2020' '03/06/2020'
 '25/08/2020' '30/06/2020' '11/08/2020' '22/07/2020' '14/08/2020'
 '02/08/2020' '13/07/2020' '09/06/2020' '18/06/2020' '02/06/2020'
 '30/07/2020' '09/08/2020' '01/07/2020' '18/08/2020' '20/07/2020'
 '15/07/2020' '04/07/2020' '11/06/2020' '29/07/2020' '03/07/2020'
 '08/07/2020' '14/06/2020' '14/07/2020' '26/06/2020' '07/07/2020'
 '19/08/2020' '17/06/2020' '21/06/2020' '26/08/2020' '20/06/2020'
 '13/06/2020' '09/07/2020' '19/07/2020' '02/07/2020' '29/06/2020'
 '05/08/2020' '28/06/2020' '18/07/2020' '15/06/2020' '04/06/2020'
 '07/08/2020' '22/06/2020' '23/07/2020' '25/07/2020' '05/07/2020'
 '01/06/2020' '30/08/2020' '22/08/2020' '23/08/2020' '05/06/2020'
 '21/07/2020' '21/08/2020' '24/07/2020' '28/08/2020' '12/08/2020'
 '31/07/2020' '11/07/2020' '04/08/2020' '24/06/2020' '10/06/2020'
 '29/08/2020' '19/06/2020' '08/06/2020' '20/08/2020' '10/07/2020'
 '07/06/2020' '25/06/2020' '24/08/2020' '12/07/2020' '06/06/2020']
-----------------------
Types of unique classes in Fylke
['Viken' 'Oslo']
-----------------------
Types of unique classes in Område
['Vest' 'Nordøst' 'Indre By' 'Sør']
-----------------------
Types of unique classes in Kommune
['Bærum' 'Bjerke' 'St.Hanshaugen' 'Indre Østfold' 'Sentrum' 'Ullensaker'
 'Eidsvoll' 'Lørenskog' 'Asker' 'Lillestrøm' 'Rælingen' 'Alna'
 'Aurskog-Høland' 'Gamle Oslo' 'Nannestad' 'Hurdal' 'Gjerdrum' 'Enebakk'
 'Stovner' 'Nes' 'Grünerløkka' 'Nordmarka' 'Grorud' 'Ullern' 'Vestre Aker'
 'Nittedal' 'Nordstrand' 'Nordre Follo' 'Sagene' 'Søndre Nordstrand'
 'Nordre Aker' 'Frogner' 'Lier' 'Drammen']
-----------------------
Types of unique classes in Holdeplass_Fra
['Nordliveien' 'Nadderud stadion' 'Ringstabekkveien' ... 'Kremmerhuset'
 'Grønsund' 'Torshovparken  (mot Torshovparken)']
-----------------------
Types of unique classes in Holdeplass_Til
['Tjernsmyr' 'Bekkestua bussterminal (Plattform C)' 'Skallum' ...
 'Gjerdrum kirke' 'Gamle Røyken rådhus (mot Slemmestad - Sætre)'
 'Torshov  (mot Bentsebrua)']
-----------------------
Types of unique classes in Linjetype
['Lokal' 'Skole' 'Ekspress' 'Natt']
-----------------------
Types of unique classes in Linjefylke
['Viken' 'Oslo']
-----------------------
Types of unique classes in Linjenavn
['150' '31' '490' '3772' '430' '110E' '260' '261' '100' '310' '340' '480'
 '60' '410' '470' '290' '365' '285' '425' '445' '400E' '350' '315' '34'
 '120' '240' '440' '110' '251' '490E' '441' '450' '28' '210' '130' '455'
 '41' '485' '140' '400' '45' '150E' '395' '381' '320' '390' '74' '370A'
 '550' '37' '385' '3872' '480E' '270' '46' '2135' '245' '397' '3773' '230'
 '330' '366' '40' '21' '2139' '160E' '3533' '3874' '215B' '54' '3637'
 '3834' '5N' '2733' '3839' '341' '396' '3677' '3658' '2633' '3780' '3535'
 '370B' '300' '345' '3571' '220' '3684' '160' '420' '280' '460' '115E'
 '215A' '380' '250' '360' '256' '390E' '91' '442' '3783' '250E' '3676'
 '125E' '470E' '4B' '265' '145' '2138' '375' '3172' '405' '2137' '265E'
 '321' '260E' '2N' '255E' '3638' '300E' '3575' '20' '140E' '31E' '3833'
 '335' '3335' '3742' '2634' '67' '3737' '3071' '3643' '2933' '2640' '3644'
 '3175' '3634' '3837' '3633' '2043' '3538' '3731' '451' '446' '3639'
 '2931' '3674' '452']
-----------------------
Types of unique classes in Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra
['10:53:53' '13:12:20' '10:18:56' ... '06:00:32' '17:42:43' '13:52:44']
-----------------------
Types of unique classes in Tidspunkt_Faktisk_Avgang_Holdeplass_Fra
['10:53:59' '13:12:26' '10:19:21' ... '17:43:10' '06:00:23' '13:52:48']
-----------------------
Types of unique classes in Tidspunkt_Planlagt_Ankomst_Holdeplass_Fra
['10:53:00' '13:12:00' '10:19:00' ... '24:22:00' '04:09:00' '09:09:00']
-----------------------
Types of unique classes in Tidspunkt_Planlagt_Avgang_Holdeplass_Fra
['10:53:00' '13:12:00' '10:19:00' ... '24:22:00' '04:09:00' '09:09:00']
-----------------------

In [10]:
#Checking for number of unique classes

In [11]:
for col2 in columns_values:
    print("Types of unique classes in {}".format(col2))
    print(df[col2].nunique())
    print("-----------------------")

Types of unique classes in TurId
5953
-----------------------
Types of unique classes in Dato
90
-----------------------
Types of unique classes in Fylke
2
-----------------------
Types of unique classes in Område
4
-----------------------
Types of unique classes in Kommune
34
-----------------------
Types of unique classes in Holdeplass_Fra
1632
-----------------------
Types of unique classes in Holdeplass_Til
1638
-----------------------
Types of unique classes in Linjetype
4
-----------------------
Types of unique classes in Linjefylke
2
-----------------------
Types of unique classes in Linjenavn
150
-----------------------
Types of unique classes in Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra
5677
-----------------------
Types of unique classes in Tidspunkt_Faktisk_Avgang_Holdeplass_Fra
5749
-----------------------
Types of unique classes in Tidspunkt_Planlagt_Ankomst_Holdeplass_Fra
1201
-----------------------
Types of unique classes in Tidspunkt_Planlagt_Avgang_Holdeplass_Fra
1201
-----------------------

In [12]:
# We can identify categorical features in data set by number of unique classes in their respective columns
# Categorical features in this set are Fylke, Område, Kommune, Linjetype, Linjefylke
# Encoding categorical features:

In [13]:
#Fylke
fylke_encod = {"Viken" : 1, "Oslo" : 2}

df["Fylke"] = df["Fylke"].map(fylke_encod)
df["Fylke"].value_counts()

1    4462
2    1538
Name: Fylke, dtype: int64

In [14]:
#Område
omrade_encod = {"Vest" : 1, "Nordøst" : 2, "Indre By" : 3, "Sør" : 4}

df["Område"] = df["Område"].map(omrade_encod)
df["Område"].value_counts()

2    3812
1    1307
3     572
4     309
Name: Område, dtype: int64

In [15]:
#Linjetype
linjetype_encod = {"Lokal" : 1, "Skole" : 2, "Ekspress" : 3, "Natt" : 4}

df["Linjetype"] = df["Linjetype"].map(linjetype_encod)
df["Linjetype"].value_counts()

1    5741
3     193
2      63
4       3
Name: Linjetype, dtype: int64

In [16]:
#Linjefylke
linjefylke_encod = {"Viken" : 1, "Oslo" : 2}

df["Linjefylke"] = df["Linjefylke"].map(linjefylke_encod)
df["Linjefylke"].value_counts()

1    5246
2     754
Name: Linjefylke, dtype: int64

In [17]:
#Kommune
cat_columns1 = ["Kommune"]
encod = ce.OrdinalEncoder(cols=cat_columns1)
df = encod.fit_transform(df)

In [18]:
#Turid column is unnecessary in further analysis
df.drop("TurId", axis=1, inplace=True)

In [19]:
#Name of some columns are confusing to read. Adjusting naming
df.rename(columns={"Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra" : "Actual_arrival",
                  "Tidspunkt_Faktisk_Avgang_Holdeplass_Fra" : "Actual_departure",
                  "Tidspunkt_Planlagt_Ankomst_Holdeplass_Fra" : "Planned_arrival",
                  "Tidspunkt_Planlagt_Avgang_Holdeplass_Fra" : "Planned_departure",
                  }, inplace=True)

In [20]:
# We can identify 5 date features out of which 4 are in time format
# Date features in this set are: Dato, Actual_arrival_bus_stop, Actual_departure_bus_stop, Planned_arrival_bus_stop, Planned_departure_bus_stop

In [21]:
df["Actual_arrival"] = df["Actual_arrival"].astype(str).str.replace("24:", "00:")
df["Actual_arrival"] = df["Actual_arrival"].astype(str).str.replace("25:", "00:")

df["Actual_departure"] = df["Actual_departure"].astype(str).str.replace("24:", "00:")
df["Actual_departure"] = df["Actual_departure"].astype(str).str.replace("25:", "00:")

df["Planned_arrival"] = df["Planned_arrival"].astype(str).str.replace("24:", "00:")
df["Planned_arrival"] = df["Planned_arrival"].astype(str).str.replace("25:", "00:")

df["Planned_departure"] = df["Planned_departure"].astype(str).str.replace("24:", "00:")
df["Planned_departure"] = df["Planned_departure"].astype(str).str.replace("25:", "00:")

In [22]:
df.head()

,Dato,Fylke,Område,Kommune,Holdeplass_Fra,Holdeplass_Til,Linjetype,Linjefylke,Linjenavn,Linjeretning,Actual_arrival,Actual_departure,Planned_arrival,Planned_departure,Kjøretøy_Kapasitet,Passasjerer_Ombord
0,10/08/2020,1,1,1,Nordliveien,Tjernsmyr,1,1,150,0,10:53:53,10:53:59,10:53:00,10:53:00,112,5
1,15/08/2020,1,1,1,Nadderud stadion,Bekkestua bussterminal (Plattform C),1,1,150,0,13:12:20,13:12:26,13:12:00,13:12:00,112,5
2,03/08/2020,1,1,1,Ringstabekkveien,Skallum,1,1,150,0,10:18:56,10:19:21,10:19:00,10:19:00,112,6
3,27/07/2020,1,1,1,Gruvemyra,Gullhaug,1,1,150,1,13:52:04,13:52:26,13:51:00,13:51:00,112,10
4,27/08/2020,1,1,1,Lysaker stasjon (Plattform A),Tjernsmyr,1,1,150,1,07:34:13,07:34:53,07:33:00,07:33:00,112,10

In [30]:
df_copy6 = df.copy()

In [31]:
df_copy6.head()

,Dato,Fylke,Område,Kommune,Holdeplass_Fra,Holdeplass_Til,Linjetype,Linjefylke,Linjenavn,Linjeretning,Actual_arrival,Actual_departure,Planned_arrival,Planned_departure,Kjøretøy_Kapasitet,Passasjerer_Ombord
0,10/08/2020,1,1,1,Nordliveien,Tjernsmyr,1,1,150,0,10:53:53,10:53:59,10:53:00,10:53:00,112,5
1,15/08/2020,1,1,1,Nadderud stadion,Bekkestua bussterminal (Plattform C),1,1,150,0,13:12:20,13:12:26,13:12:00,13:12:00,112,5
2,03/08/2020,1,1,1,Ringstabekkveien,Skallum,1,1,150,0,10:18:56,10:19:21,10:19:00,10:19:00,112,6
3,27/07/2020,1,1,1,Gruvemyra,Gullhaug,1,1,150,1,13:52:04,13:52:26,13:51:00,13:51:00,112,10
4,27/08/2020,1,1,1,Lysaker stasjon (Plattform A),Tjernsmyr,1,1,150,1,07:34:13,07:34:53,07:33:00,07:33:00,112,10

In [36]:
df_copy6["Actual_arrival"] = df_copy6["Actual_arrival"].str.replace(":", "")

In [37]:
df_copy6.head()

,Dato,Fylke,Område,Kommune,Holdeplass_Fra,Holdeplass_Til,Linjetype,Linjefylke,Linjenavn,Linjeretning,Actual_arrival,Actual_departure,Planned_arrival,Planned_departure,Kjøretøy_Kapasitet,Passasjerer_Ombord
0,10/08/2020,1,1,1,Nordliveien,Tjernsmyr,1,1,150,0,105353,10:53:59,10:53:00,10:53:00,112,5
1,15/08/2020,1,1,1,Nadderud stadion,Bekkestua bussterminal (Plattform C),1,1,150,0,131220,13:12:26,13:12:00,13:12:00,112,5
2,03/08/2020,1,1,1,Ringstabekkveien,Skallum,1,1,150,0,101856,10:19:21,10:19:00,10:19:00,112,6
3,27/07/2020,1,1,1,Gruvemyra,Gullhaug,1,1,150,1,135204,13:52:26,13:51:00,13:51:00,112,10
4,27/08/2020,1,1,1,Lysaker stasjon (Plattform A),Tjernsmyr,1,1,150,1,073413,07:34:53,07:33:00,07:33:00,112,10

In [42]:
df_copy6["Actual_arrival"] = df_copy6["Actual_arrival"].str.replace("' '", "")
df_copy6["Actual_arrival"] = df_copy6["Actual_arrival"].str.replace("''", "")

df_copy6["Actual_arrival"] = pd.to_datetime(df_copy6["Actual_arrival"], format="%H%M%S")

ValueError: time data '' does not match format '%H%M%S' (match)

In [44]:
#At this point I am giving up. I have made 6 copies, read every repository on Stack Overflow and for the love of everything 
#I hold dear, I cant figure out why I am getting this error and how I can fix it. I have turn each time column to string
#Adjusted wrong hour values, split (":", "") an tried to turn it back to dateformat

In [45]:
df.head()

,Dato,Fylke,Område,Kommune,Holdeplass_Fra,Holdeplass_Til,Linjetype,Linjefylke,Linjenavn,Linjeretning,Actual_arrival,Actual_departure,Planned_arrival,Planned_departure,Kjøretøy_Kapasitet,Passasjerer_Ombord
0,10/08/2020,1,1,1,Nordliveien,Tjernsmyr,1,1,150,0,10:53:53,10:53:59,10:53:00,10:53:00,112,5
1,15/08/2020,1,1,1,Nadderud stadion,Bekkestua bussterminal (Plattform C),1,1,150,0,13:12:20,13:12:26,13:12:00,13:12:00,112,5
2,03/08/2020,1,1,1,Ringstabekkveien,Skallum,1,1,150,0,10:18:56,10:19:21,10:19:00,10:19:00,112,6
3,27/07/2020,1,1,1,Gruvemyra,Gullhaug,1,1,150,1,13:52:04,13:52:26,13:51:00,13:51:00,112,10
4,27/08/2020,1,1,1,Lysaker stasjon (Plattform A),Tjernsmyr,1,1,150,1,07:34:13,07:34:53,07:33:00,07:33:00,112,10

In [46]:
#Visualisations I was planning to make:
#Difference between Actual and Planned arrival 
#Difference between Actial and Planned departure
#Passengers on Board and Bus capacity 
#Passengers on Board and Linjetype
#(Defining the day from dato) and Passengers on board to see amount of passengers on particular days